/* This stylesheet document is for the index.php of project1 in Harvard class. */

/* This is the base of total showing body */
.container{ 
	background-color:#99ff77; 
	width:700px; 
	margin: 0 auto ;
	font-size: 30px;
}

#menu{
	background-color:#aaaaaa;
	width:700px;
	margin: auto;
	text-indent: 9px;
}

.title{
	background-color: #65a065;
}

.body{
	background-color: #dda0a0;
}

.footer{

}

.error{
	color: #ff0000;
}
a{
	text-decoration: none;
}


/*
h1{
	text-align: center; 
	background-color:#ccccaa;
}

h2{
	background-color:#00cc00; 
	text-align:center;
}

p{
	text-align:left;
	text-indent: 30px;
}
*/