/* This stylesheet document is for the index.php of project1 in Harvard class. */

/* This is the base of total showing body */
.container{ 
	background-color:#99ff77; 
	width:700px; 
	margin: 0 auto ;
	font-size: 30px;
}

#menu{
	background-color:#aaaaaa;
	width:700px;
	margin: auto;
	text-indent: 9px;
}

.header{
	background-color: #65a065;
}
.greetings{
	float: right;
}

.body{
	background-color: #dda0a0;
}
.center{
	margin: auto; 
	width: 300px;
	background-color: #cccccc;
	border-radius: 17px;
	border-width: 9px;
	border-color: #555555;
}
.cen-cen{
	width:300px;
	margin:auto;
}
.form-standard{

}

.form-standard input{
	border-radius: 9px;
	height:23px;
	border-width: 3px;
	border-color: #999999;
}

.footer{

}
a{
	text-decoration: none;
}

.input_style{
	border-radius: 9px;
	height:23px;
	border-width: 3px;
	border-color: #999999;
}
.error{
	color: #ff0000;
}



/*
h1{
	text-align: center; 
	background-color:#ccccaa;
}

h2{
	background-color:#00cc00; 
	text-align:center;
}

p{
	text-align:left;
	text-indent: 30px;
}
*/